@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* border: 0.5px solid darkslategrey; */
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 50px;
}

.sidebar {
    background-color: #f4f5f7;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    min-height: 100dvh;
}

.project-item {
    display: flex;
    justify-content: space-between;
    border-bottom: transparent 1.5px solid;
}

.project-item:hover {
    border-bottom: #c1c1c1 1px solid;
}

.new-project {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: transparent 1.5px solid;
}

.new-project > button {
    justify-self: end;
}

.sidebar button {
    border: none;
    background-color: transparent;
    transition: 100ms;
}

.sidebar input {
    border: none;
    border-bottom: #c1c1c1 1px solid;
    height: 1.5rem;
}

#projectName {
    background-color: transparent;
    height: 2re;
}

.sidebar button:hover {
    color: #a379ce;
    font-weight: 900;
    transition: 100ms;
}

.sub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 150px; */
    /* gap: 10px; */
}

.task-item {
    display: flex;
    min-width: 100%;
    gap: 20px;
}

.task-table {
    /* flex-grow: 1; */
    display: grid;
    width: 30vw;
    grid-template-columns: 200px 300px;
    grid-auto-columns: 1fr;
    row-gap: 3px;
}

.task-description {
    grid-column: span 2;
    font-size: 0.7rem;
    font-weight: 300;
    max-width: 50%;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#TaskStatus {
    transform: scale(1.3);
    transition: 100ms;
    align-self: flex-start;
}

#TaskStatus:hover {
    transform: scale(2);
    transition: 100ms;
}

.project-pick {
    flex: 1;
    justify-self: start;
    height: 2rem;
}

.header {
    padding-top: 40px;
}

.sub-header {
    padding-bottom: 30px;
}

.task-properties {
    display: flex;
    gap: 10px;
}

.task-date {
    border: 0.5px #c1c1c1 solid;
    background-color: #f4f5f7;
    font-size: 0.6rem;
    border-radius: 20px;
    padding: 3px;
    font-weight: 400;
}

.task-priority {
    border: 0.5px #c1c1c1 solid;
    background-color: #f4f5f7;
    font-size: 0.6rem;
    border-radius: 20px;
    padding: 3px;
    font-weight: 400;
}

#TaskDelete {
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    align-self: flex-start;
    transition: 100ms;
}

#TaskDelete:hover {
    color: red;
    scale: 2;
    transition: 100ms;
    align-self: flex-start;
}

.sidebar > button {
    height: 2rem;
}

.task-item {
    position: relative;
}

.task-item .task-description {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: white; /* Change this to match your task item background color */
    padding: 5px;
    z-index: 1;
    transition: 200ms;
}

.task-item:hover .task-description {
    opacity: 1;
    max-height: 200px; /* Adjust this value based on the maximum expected height of the description */
    transition: opacity 200ms, max-height 200ms;
}
